.div {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-decoration: none;
}

.ul{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 2em;
    width: 100%;
    list-style: none;
}

.op{
    font-size: 15px;
    margin: 1em;
    padding: 1px;
    font-family: jetBrains Mono;
    color: #000000;
}

.li {
    margin: 1em;
    padding: 1px;
    font-family: jetBrains Mono;
    color: #3f7e59;
    font-size: 20px;
}

.buscar{
  appearance: none;
  background-color: #67a180;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: jetBrains Mono;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.buscar:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.buscar:hover {
  background-color: #2c974b;
}

.buscar:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.buscar:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.buscar:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
};